<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="container">
	<div class="row">
		<div
			class="col-8 offset-2">

			{# Check if the repeater field exists and is not empty #}
			{% if content.field_content is not empty %}
				{# Loop through each item in the repeater field #}
				{% for item in content.field_content['#items'] %}
					<div
						class="my-5">

						{# Access the paragraph entity for the current item #}
						{% set paragraph_entity = item.entity %}

						{# Output the paragraph type (WYSIWYG, Media, Blockquote) #}
						{% set paragraph_type = paragraph_entity.type.target_id %}
						<strong>{{ paragraph_type }}</strong>

						{# Output fields based on the paragraph type using Twig Tweak functions #}
						{% if paragraph_type == 'wysiwyg' %}
							<div class="wysiwyg">
								<p>{{ paragraph_entity.field_wysiwyg_content.value }}</p>
							</div>

						{% elseif paragraph_type == 'card_deck' %}

							{# Render the card_deck entity if it exists #}
							{% if paragraph_entity.field_cards is not empty %}
								{# Loop through each item in the accordion list field #}
								<div class="row row-cols-1 row-cols-md-3 g-4">


									{% for card_item in paragraph_entity.field_cards %}
										{# Access the accordion paragraph entity for the current item #}
										{% set card_entity = card_item.entity %}
										{# Output the accordion title and content #}
										<div class="col">
											<div class="card">
												<img class="card-img-top" alt="{{card_entity.field_image.entity.field_media_image.alt}}" href="{{card_entity.field_image.entity.field_media_image.entity.uri.value}}" src="{{file_url(card_entity.field_image.entity.field_media_image.entity.uri.value)}}">

												<div class="card-body">
													<h5 class="card-title">{{ card_entity.field_title.value }}</h5>
													<p class="card-text">{{card_entity.field_description.value}}</p>
													<a class="btn btn-primary" href="{{card_entity.field_link.value[0].uri}}">
														{{card_entity.field_link.value[0].title}}</a>
												</div>
											</div>
										</div>

									{% endfor %}

								</div>
							{% endif %}

						{% elseif paragraph_type == 'block_quote' %}

							<figure>
								<blockquote class="blockquote">
									<p>
										{{ paragraph_entity.field_quote.value }}
									</p>

								</blockquote>
								{% if paragraph_entity.field_quote_url.value %}
									{# {{drupal_dump(paragraph_entity.field_quote_url.value)}} #}

									<figcaption class="blockquote-footer">
										<cite title="{{paragraph_entity.field_quote_url.value[0].title}}">
											<a href="{{paragraph_entity.field_quote_url.value[0].uri}}">{{paragraph_entity.field_quote_url.value[0].title}}</a>

										</cite>
									{% endif %}

								</figcaption>
							</figure>

						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>
